* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --white: #fcfcfc;
    --black: #28212c;
    --gray: #49454c;

    --color-1: #ff943c;
    --color-2: #d57aff;
    --color-3: #d65306;
    --color-4: #413546;
}

/* Estilo de la barra de scroll para que no sea la que viene por defecto con el navegador */
::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background: #303030;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #707070;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #a0a0a0;
  }

body {
    background-color: var(--gray);
    color: var(--white);
    font-size: 1.1rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        135deg,
        var(--color-3),
        var(--black) 45%,
        var(--black) 65%,
        var(--color-4)
    );
    text-align: center;
    height: 150px;
}

header h1 {
    color: var(--white);
}

nav {
    background: linear-gradient(
        var(--black),
        var(--color-4)
    );
    padding: 5px;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: var(--color-2);
    padding: 3px 6px;
    border-radius: 5px;
}

nav a:hover {
    background-color: var(--color-4);
}

section {
    padding: 20px 30px;
}

article {
    margin: 20px auto 20px auto;
    width: 100%;
    max-width: 700px;
}

.card {
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--color-2);
    box-shadow: 0 0 8px 0 black;
    padding: 10px;
    border-radius: 10px;
    margin: 35px auto;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    color: var(--color-1);
}

p{
    margin-bottom: 10px;
}

p:last-child {
    margin-bottom: 0;
}

.cont-galeria {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    height: 120vw;
    max-height: 400px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.cont-galeria img {
    border-bottom: 8px solid transparent;
    scroll-snap-align: center;
    display: flex;
    height: 100%;
    width: 90%;
    object-fit: cover;
}

.aviso {
    background-color: var(--white);
    padding: 10px;
    border-radius: 6px;
    color: red;
    margin: 25px 0;
}

footer {
    background-color: var(--black);
    color: var(--white);
    font-size: 0.9rem;
    padding: 60px 40px;
}

@media screen and (max-width: 700px) {
    section {
        padding: 20px 20px;
    }
    .cont-galeria img {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    section {
        padding: 20px 10px;
    }
}